<div  data-role="page">
	<div data-role="header">
		<h1>New Photo</h1>
	</div>
	
	<div data-role='content'>
		<%= render 'form' %>
	</div>

	<button type="submit" data-theme="b">
		<%= link_to "Back to List", photos_path %>
	</button>

</div>
